h1{
    color: peru;

}
h1:hover{
    background-color: blue;
}

input:focus{
    color: green;
    padding-left: 20px;
    outline: 0;
    border: 1px solid tomato
}
a:visited{
    color: green;
}

li:first-child{
    background-color: aquamarine;
}
li:last-child{
background-color: blanchedalmond;
}
li:nth-last-child(5){
    background-color: chartreuse;
}

li:nth-last-child(3){
    background-color: yellow;
}
/* li:nth-last-child(2n){
    background-color: blue;
}

li:nth-last-child(2n+1){
    background-color: darkred;
} */



.box img{
    width: 400px;
   
    border: 3px dotted dodgerblue;
}


.absolute-container{
    position: relative;
    border: 2px solid peru;
}

/*  relative*/
/* .daimond{
    position: relative;
    left: 100px;
    top: 80px;
} */

/* absolute */
/* .daimond{
    position: absolute;
    top: 30px;
    left: 100PX;
} */

/* sticky */
/* .daimond{
    position: sticky;
    top: 0px;
} */

/* fixed */
/* .daimond{
    position: fixed;
    top: 100px;
    left: 100px;
} */
.dumyy{
    border: 2px solid aqua;
    width: 200px;
    height: 200px;
}

.another{
    color: 4px solid green;
    width: 200px;
    height: 200px;
}


/* z-index */
.z_index img {
    width: 400px;
    border: 3px dotted purple;
    
}
.z_index{
    position: relative;
}
.boy_{
    z-index: 10;
}
.daimond_{
    top: -550px;
    z-index: 5;
}
.circle_{
    top: -700px;
    z-index: 500;
}
h1::after{
    content: '.pdf';
    color: blue;
    font-size: 7px;
    background-color: yellow;
}
h1::before{
    content: 'start:';

}
p::first-letter{
    font-size: 3em ;
}
p::first-line{
    background-color: aquamarine;
}
::selection{
    background-color: chartreuse;
}